@import url('https://fonts.cdnfonts.com/css/chicago-flf');

:root {
  --background-color-light: white;
  --text-color-light: black;
  --sidebar-bg-light: #dddddd;
  --sidebar-link-bg-light: #cccccc;
  --sidebar-link-hover-light: #bbbbbb;
  --sidebar-border-light: #cccccc;
  --sidebar-link-border-light: gray;
  --sidebar-link-active-bg-light: white;
  --sidebar-link-active-border-light: gray;
}

.dark-theme {
  --background-color-dark: black;
  --text-color-dark: white;
  --sidebar-bg-dark: #333333;
  --sidebar-link-bg-dark: #555555;
  --sidebar-link-hover-dark: #777777;
  --sidebar-border-dark: #666666;
  --sidebar-link-border-dark: #999999;
  --sidebar-link-active-bg-dark: #222222;
  --sidebar-link-active-border-dark: #999999;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ChicagoFLF', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  overflow-y: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

html {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

body.dark-theme {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body:not(.dark-theme) {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}